# Default ignored files
/shelf/
/workspace.xml
/.idea
/node_modules
.vscode
/dist
/coverage
.DS_Store
.gitignore.swp
terraform/.DS_Store
.terraform.lock.hcl
.terraform/
terraform/front/.terraform.lock.hcl
terraform/front/.terraform/
terraform/simple/terraform.tfstate
terraform/simple/terraform.tfstate.backup
terraform/full/terraform.tfstate
terraform/full/terraform.tfstate.backup
